.App{
  display: grid;
  
  grid-template-columns: 1fr 4fr;
  background-position-y: 239px;
  background-position-x: 0px;
  background-image:  url('./Assets/background.svg');
  background-repeat: no-repeat;
  background-color: #FF8533;
  background-size: cover;
  height: 100vh;
  width: 100vw;
}